{% extends "index.html" %}
{% load static %}

{% block content %} 

<div class = "container">
    <div class = "row">
        <div class="col-md-15 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                My Feed
            </h3>
            <div class="blog-post">
                <h2 class="blog-post-title">What are you grateful for today?</h2>
                <p class="blog-post-meta">November 12, 2020 by <a href="#">Julian</a></p>
                <form>
                    <p>
                        <div class="input-group input-group-lg">
                            <input placeholder="I am grateful for..." type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                          </div>
                    </p>
                    <p class="mb-4">
                        <button value="submit" class="btn btn-success" style="background-color: pink">submit</button>
                    </p>
                </form>
            </div>

            <!-- POST cards -->
            <h3 class="jumbotron">TODO</h3>
            <h3 class="jumbotron">TODO</h3>
            <h3 class="jumbotron">TODO</h3>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

{% endblock %}